{% extends "base.html.twig" %}
{% block body %}
   {% if data.error==false %}
        Kurzová tabulka aktualizovaná {{ data.updated|format_datetime() }}
    {% else %}
       {{ data.error }}
   {% endif %}
    <table>
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Zkratka</th>
                <th>Symbol</th>
                <th>Cena</th>
            </tr>
        </thead>
    {% for currency in data.courses %}
        <tr>
            <td>{{ currency.description }}</td>
            <td>{{ currency.code }}</td>
            <td>{{ currency.symbol|raw }}</td>
            <td>{{ currency.rate|number_format(2, ',', ' ') }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}